.container {
    position: relative;
    margin: 0px auto;
}

.body-class {
    position: relative;
    margin: 0 0;
    margin-left: 12.5%;
    padding: 0;
    background-image: url('../backgrounds/carina_nebula.jpg');
}


